OPENAI_API_KEY=openai-key-here
POSTGRES_URL=your-url-here
POSTGRES_USERNAME=your-username-here
POSTGRES_PASSWORD=your-password-here
BARBERSHOP_API_KEY=barbershop-key-here
REDIS_HOST=redis-host-here
REDIS_PORT=redis-port-here
REDIS_PASSWORD=redis-password-here
MCP_SERVER_URL=mcp-server-url-here
AI_CHAT_PROVIDER=chat-provider
AI_EMBEDDING_PROVIDER=embedding-provider
AI_CHAT_MODEL=chat-model
AI_CHAT_TEMPERATURE=chat-temperature
AI_EMBEDDING_MODEL=embedding-model
AI_EMBEDDING_DIMENSIONS=embedding-dimensions